<div class="container">
<h2><%= "#{@race.city}, #{@race.state} Race Information" %> </h2>

<%= "Address: #{@race.address}, #{@race.city}, #{@race.state}" %>
<br>
<%= "Dates: #{@race.start_date} - #{@race.end_date}" %>
</div>
