<div class="container">
<h2> All Registrations for 2017 </h2>

<% @registrations.each do |registration| %>
<li>  <%= registration.boat_class.class_name %>
  <%= registration.race.city %></li>
<% end %>
</div>
